<ion-content>
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard"><img class="icon" src="../../../assets/icon/setaesquerda.png"
            alt=""></a>
        <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
        <button>
          <img src="../../../assets/icon/menu-aberto.png" class="icon-menu" alt="">
        </button>
      </div>
    </nav>
    <div class="container main" *ngIf="!addPlano">
      <h2>Planos funerários</h2>
      <div class="campo-pesquisa">
        <app-inputs type="search" label="Pesquisar"></app-inputs>
      </div>
      <app-butons class="bt" color="blue" label="Adicionar plano funerário" (click)="adicionarPlano()"></app-butons>
      <div class="tabela-planos">
        <app-tables tabela="tabelaplanosFunerarios"></app-tables>
        <div class="mt-5">
          <app-pagination></app-pagination>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="addPlano">
      <app-adicionar-plano></app-adicionar-plano>
    </div>
  </div>
</ion-content>
