<ion-content>
  <div class="container">
    <app-navbar rota="dashboard"></app-navbar>
    <div class="container main pb-4" *ngIf="!filtro">
      <h2>Planos Funerários</h2>
      <div class="mb-3">
        <app-input (searchEmitter)="pesquisa.descricao = $event; pesquisar()" type="search" label="Pesquisar" name="search"></app-input>
      </div>
      <app-button class="bt" color="blue" label="Adicionar plano" type="normal" (click)="add()"></app-button>
      <div class="tabela">
        <app-tables [data]="planosFunerarios" tabela="tabelaplanosFunerarios" [total]="total" [pesquisa]="pesquisa" (paginador)="pesquisar($event - 1)"></app-tables>
      </div>
    </div>
    <div class="container filtro" *ngIf="filtro">
      <app-filtro-plano-funerario></app-filtro-plano-funerario>
    </div>
  </div>
</ion-content>
