.icon{
  width: 30px;
  color: #f2f2f2;
}

.menu-aberto{
  position: absolute;
  right: 20px;
  top: 28px;
}

.icon-caderno{
  width: 74px;
}

.close-outline{
  font-size: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  color: gray;
}
