<ion-content>
    <div class="container">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img class="icon" src="../../../assets/icon/setaesquerda.png" alt="">
                </a>
                <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
                <div class=""></div>
            </div>
        </nav>
        <div class="container main">
            <h2>Dados da conta</h2>

            <form [formGroup]="form" class="mt-4">

                <app-input [form]="form" control="descricao" label="Nome da receita" type="text"></app-input>

                <app-select [form]="form" control="conta_bancaria" label="Conta bancária"></app-select>

                <app-input [form]="form" control="categoria" label="Categoria" type="text"></app-input>

                <app-input [form]="form" control="cliente" label="Cliente" type="text"></app-input>

                <app-input [form]="form" control="vencimento" label="Vencimento" type="text"></app-input>

                <app-input [form]="form" control="valor" label="Valor" type="text"></app-input>

                <app-select [form]="form" control="tipo_registro" label="Tipo de registro"></app-select>

                <app-input [form]="form" control="data_emissao" label="Data de emissão" type="text" mask="data"></app-input>

                <h2>Detalhes da conta</h2>

                <app-input [form]="form" control="n_doc" label="N° do documento" type="text"></app-input>

                <app-select [form]="form" control="forma_pagamento" label="Forma de pagamento"></app-select>

                <app-input [form]="form" control="centro_custos" label="Centro de custos" type="text"></app-input>

                <app-select [form]="form" control="ocorrencia" label="Ocorrência"></app-select>

                <h6 class="mt-4">ANEXO</h6>
                <app-button color="white" [form]="form" control="" label="selecionar arquivo"></app-button>
                <p>MÁXIMO 2MB, JPG, JPEG, GIF, PNG, PDF,DOC, XLS, CSV, ZIP.</p>

                <app-input type="textArea" [form]="form" control="" label="observações"></app-input>
            </form>
            <app-button color="blue" label="Salvar"></app-button>
            <app-button color="gray" label="Cancelar"></app-button>
        </div>
    </div>
</ion-content>