<ion-content>
    <div class="container">
      <app-navbar rota="contas-receber"></app-navbar>
        <div class="container main pb-4">
            <h2>Dados da conta</h2>

            <form [formGroup]="form" class="mt-4">

                <app-input [form]="form" control="descricao" label="Nome da receita" type="text"></app-input>

                <app-select [form]="form" control="conta_bancaria" label="Conta bancária" [options]="contasBancarias"></app-select>

                <app-input (searchEmitter)="pesquisa.descricao = $event; pesquisaCategoria()" (selectEmitter)="selecionaCategoria($event)" [options]="categoriasFinanceiras" [form]="form" control="categoria_descricao" label="Categoria" type="text" search="true"></app-input>

                <app-input (searchEmitter)="pesquisa.descricao = $event; pesquisaCliente()" (selectEmitter)="selecionaCliente($event)" [options]="clientes" [form]="form" control="cliente_descricao" label="Cliente" type="text" search="true"></app-input>

                <app-input [form]="form" control="vencimento" label="Vencimento" type="text" mask="DATA"></app-input>

                <app-input [form]="form" control="valor" label="Valor" type="text" mask="MONEY"></app-input>

                <app-select [form]="form" control="tipo_registro" label="Tipo de registro" [options]="tiposRegistro"></app-select>

                <app-input [form]="form" control="data_emissao" label="Data de emissão" type="text" mask="DATA"></app-input>

                <h2>Detalhes da conta</h2>

                <app-input [form]="form" control="n_doc" label="N° do documento" type="text"></app-input>

                <app-select [form]="form" control="forma_pagamento" label="Forma de pagamento" [options]="formaPagamento"></app-select>

                <app-input (searchEmitter)="pesquisa.descricao = $event; pesquisaCentroCusto()" (selectEmitter)="selecionaCentroCusto($event)" [form]="form" control="centro_custos_descricao" label="Centro de custos" type="text" [options]="centrosCusto" search="true"></app-input>

                <app-select [form]="form" control="ocorrencia" label="Ocorrência" [options]="ocorrencias"></app-select>

                <app-input [form]="form" control="qtdParcelas" label="Quantidade de Parcelas" type="number"></app-input>

                <h6 class="mt-4">ANEXO</h6>
                <app-button color="white" label="selecionar arquivo"></app-button>
                <p>MÁXIMO 2MB, JPG, JPEG, GIF, PNG, PDF,DOC, XLS, CSV, ZIP.</p>

                <app-input type="textArea" [form]="form" control="" label="observações"></app-input>
            </form>
            <app-button (click)="create()" [disabled]="form.invalid" type="normal" color="blue" label="Salvar"></app-button>
            <app-button color="gray" label="Cancelar"></app-button>
        </div>
    </div>
</ion-content>
