
.remember-password{
    display: inline-flex;
}

input{
    height: 24px;
    width: 24px;
    border: 1px solid  #186E9D;
    border-radius: 5px;
}

.user{
    font-family: "Montserrat";
    font-size: 14px;
    padding: 3px 0 0 4px;
}