<ion-content>
  <div class="container">
    <app-navbar rota="plano-funerario"></app-navbar>
    <div class="container main">
      <h2 class="mb-4">Dados do plano</h2>
      <form [formGroup]="form">
        <app-input
          [form]="form"
          control="id"
          type="number"
          label="número do plano"
          [disabled]="true"
          *ngIf="plano.id"
        ></app-input>

        <app-portlet-cliente
          [form]="form"
          control="cliente"
          type="text"
          label="Cliente"
        ></app-portlet-cliente>

        <app-portlet-vendedor
          [form]="form"
          control="tecnico"
          type="text"
          label="Vendedor 1"
        ></app-portlet-vendedor>

        <app-portlet-vendedor
          [form]="form"
          control="profissional"
          type="text"
          label="Vendedor 2"
        ></app-portlet-vendedor>

        <app-portlet-indicacao
          [form]="form"
          control="nome_indicacao"
          type="text"
          label="Indicação"
        ></app-portlet-indicacao>

        <h2>Planos funarários</h2>

        <app-planos-funerarios
          (planosFunerariosSelecionados)="alteraPlanos($event)"
        ></app-planos-funerarios>

        <h2 class="mt-4">Totais</h2>

        <div class="row">
          <div class="col-6">
            <app-input
              [form]="form"
              control="taxa_adesao"
              type="text"
              label="Adesão"
            ></app-input>
          </div>

          <div class="col-6">
            <app-input
              [form]="form"
              control="valor_bruto"
              type="text"
              label="Valor Total"
              icon="lupa.png"
              iconPosition="right"
              (searchEmitter)="teste($event)"
            ></app-input>
          </div>
        </div>

        <h2>Pagamento</h2>

        <div class="row">
          <div class="col-6">
            <app-input
              [form]="form"
              control="data_inicial"
              type="text"
              mask="DATA"
              label="data inicial"
            ></app-input>
          </div>

          <div class="col-6">
            <app-portlet-pagamento
              [form]="form"
              control="forma_pagamento"
              type="text"
              label="forma de pagamento"
              (pagamentoSelecionado)="alteraValorParcelas()"
            >
            </app-portlet-pagamento>
          </div>
        </div>

        <div class="row">
          <app-portlet-calculo-total
            [form]="form"
            control="valor_liquido"
            type="text"
            label="Calculo do total"
            (calculoSelecionado)="alteraValorParcelas()"
          ></app-portlet-calculo-total>
        </div>

        <div class="row">
          <div class="col-6">
            <app-input
              [form]="form"
              control="carencia"
              type="text"
              label="carencia (dias)"
            ></app-input>
          </div>

          <div class="col-6">
            <app-input
              [form]="form"
              control="qtd_parcelas"
              type="number"
              label="Q.Parcelas"
              (searchEmitter)="alteraValorParcelas()"
            ></app-input>
          </div>
        </div>

        <app-parcelas
          [data]="form.value.parcelas"
          [valorBruto]="form.value.valor_bruto"
          [calculoTotal]="form.value.valor_liquido"
        ></app-parcelas>

        <h2>documentos pendentes</h2>
        <label class="mt-3 mb-3">Documento do responsável</label>

        <app-checkbox
          type="checkbox"
          [form]="form"
          control="rg_f_pendente"
          label="rg"
        ></app-checkbox>

        <app-checkbox
          type="checkbox"
          [form]="form"
          control="cpf_f_pendente"
          label="cpf"
          mask="CPF"
        ></app-checkbox>

        <app-checkbox
          type="checkbox"
          [form]="form"
          control="residencia_f_pendente"
          label="comprovante residência"
        >
        </app-checkbox>

        <app-checkbox
          type="checkbox"
          [form]="form"
          control="casamento_f_pendente"
          control="nascimento_f_pendente"
          label="certidão casamento"
        ></app-checkbox>

        <h2 class="mt-5">Dependentes</h2>

        <app-dependentes
          [data]="plano.dependentes"
          (dependentesSelecionados)="setDependentes($event)"
        ></app-dependentes>

        <h2 class="mt-5">detalhes</h2>

        <app-input
          [form]="form"
          control="data_os"
          type="text"
          mask="data"
          label="data"
        ></app-input>

        <app-input
          [form]="form"
          control="hora_realizacao"
          type="text"
          label="hora da realização"
        ></app-input>

        <app-input
          [form]="form"
          control="obs"
          type="textarea"
          label="observações"
        ></app-input>

        <app-input
          [form]="form"
          control="obs_internas"
          type="textarea"
          label="observações internas"
        ></app-input>
      </form>

      <!-- <h6 class="mt-4">CONTRATO/ANEXOS</h6>
      <app-button
        color="white"
        label="selecionar arquivo"
        type="normal"
      ></app-button>
      <p>MÁXIMO 2MB, JPG, JPEG, GIF, PNG, PDF,DOC, XLS, CSV, ZIP.</p> -->

      <app-button
        color="blue"
        type="normal"
        (click)="create()"
        label="Salvar"
      ></app-button>
      <app-button color="gray" type="normal" label="Cancelar"></app-button>

      <div class="line w-100 mt-5"></div>
    </div>
  </div>
</ion-content>
