<input type="text">
<!--
        <p>
            <span>{{icon}}</span>
            <input type="email" name="email" class="{{type}}" id="email" value=" " placeholder="{{name}}"/>
        </p>

        <div class="selecoes">
            <select class="selecao {{type}}" placeholder="{{name}}">
                <option value=""></option>
            </select>
            <span class="seta-icon"><img src="../../../assets/icon/seta-para-baixo.png" alt="seta"></span>
        </div>
         -->
        <!-- <p>
            <span><img class="icon-login" src="../../../assets/icon/cadeado.png" alt=""></span>
            <input type="password" name="password" class="passoword--{{type}}" id="number" value="" placeholder="Senha" />
        </p> -->

