<ion-content>
  <div class="container">
    <app-navbar rota="dashboard"></app-navbar>
    <div class="container main pb-4" *ngIf="!filtro">
      <h2>Contas a receber</h2>
      <div class="mb-3">
        <app-input (searchEmitter)="pesquisa.descricao = $event; pesquisar()" (selectIcon)="filtro = true" type="search" label="Pesquisar" name="search"></app-input>
      </div>
      <app-button class="bt" color="blue" label="Adicionar receita" type="normal" (click)="add()"></app-button>
      <div class="tabela">
        <app-tables [data]="contasReceber" tabela="tabelaContasReceber" [total]="total" [pesquisa]="pesquisa" (paginador)="pesquisar($event - 1)"></app-tables>
      </div>
    </div>
    <app-liquidar-conta *ngIf="viewLiquidar" (close)="viewLiquidar = false"></app-liquidar-conta>
    <div class="container filtro" *ngIf="filtro">
      <app-filtro-contas-receber (filtrado)="pesquisa = $event; pesquisar(); filtro = false"></app-filtro-contas-receber>
    </div>
  </div>
</ion-content>
