<ion-content>
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard"><img class="icon" src="../../../assets/icon/setaesquerda.png" alt=""></a>
        <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
        <button>
          <img src="../../../assets/icon/menu-aberto.png" class="icon-menu" alt="">
        </button>
      </div>
  </nav>
    <div class="container main">
        <h2>Contas a receber</h2>
        <div class="campo-pesquisa">
          <app-inputs type="search" label="pesquisar"></app-inputs>
        </div>
        <app-butons class="bt" color="blue" label="Adicionar receita" (click)="add()"></app-butons>

        <app-tables tabela="tabelaContasReceber"></app-tables>

        <app-pagination></app-pagination>
    </div>
    <!-- <div class="container liquidar" >
      <app-liquidar-conta ></app-liquidar-conta>
    </div> -->
  </div>
</ion-content>
