<ion-content>
  <div class="container">
    <app-navbar></app-navbar>
    <div class="container main pb-4" *ngIf="!filtro">
      <h2>Contas a receber</h2>
      <div class="mb-3">
        <app-input (searchEmitter)="pesquisa.descricao = $event; pesquisar()" type="search" label="Pesquisar" name="search"></app-input>
        <!-- <button icon="icone-lupa"></button>
          <button icon="icone-filtro" (click)="filtro = !filtro" alt=""></button> -->
      </div>
      <app-button class="bt" color="blue" label="Adicionar receita" type="normal" (click)="add()"></app-button>
      <div class="tabela">
        <app-tables [data]="contasReceber" tabela="tabelaContasReceber" [total]="total" [pesquisa]="pesquisa" (paginador)="pesquisar($event - 1)"></app-tables>
      </div>
    </div>
    <div class="container filtro" *ngIf="filtro">
      <app-filtro-cliente filtrado="search($event)"></app-filtro-cliente>
    </div>
  </div>
</ion-content>
