<div class="container" *ngIf="parcelas.length">
  <h2>Parcelas</h2>

  <div class="row margin-left">
    <div class="col-6">
      <div class="form-group">
        <label for="">Data</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="">Valor</label>
      </div>
    </div>
  </div>

  <ol>
    <li *ngFor="let parcela of parcelas; let i = index">
      <div class="row">
        <div class="col-6">
          <div class="form-group relative">
            <input
              [(ngModel)]="parcela.parcela_data"
              type="text"
              mask="**/**/****"
              placeholder="00/00/0000"
              maxlength="10"
              class="form-control"
              name="parcela-{{ i }}"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group relative">
            <input
              [(ngModel)]="parcela.parcela_valor"
              class="form-control"
              currencyMask
              [options]="{ prefix: '', thousands: '.', decimal: ',' }"
              name="valor-{{ i }}"
              placeholder="0,00"
              (ngModelChange)="ngOnChanges(parcela)"
            />
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
