<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">{{ folder }}</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <div id="container-principal">
    <div class="sub-principal">
      <div class="container-logo">
        <div class="logo">
          <img class="alianca" src="../../../assets/icon/logo.png" alt="">
      </div>
      </div>
      <div class="main">
          <div class="form-login">
              <label class="name" for="login">Login</label><br>
              <span><img class="icone" src="../../assets/icon/o-email.png" alt=""></span>
              <input class="email" type="text" placeholder="E-mail"><br>
              <span><img class="icone" src="../../assets/icon/cadeado.png" alt=""></span>
              <input class="senha" type="password"  placeholder="Senha">
          </div>
          <div class="recuperar">
              <input class="check" type="checkbox">
              <label for="">Lembrar usuário</label>
          </div>
          <div class="button-entrar">
               <button class="btn" ><a href="index.page2.html">ENTRAR</a></button>
          </div>
          <div class="recuperar-senha">
              <span class="name-recuperar">Esqueceu a senha?</span>
           <button class="btn-senha">RECUPERAR SENHA</button>
          </div>
      </div>
   </div>
  </div>
</ion-content>
