*{
  font-family: "Montserrat";
  text-transform: uppercase;
}

.container{
  height: 100vh auto;
  min-height: 100vh;
  padding: 0 1rem;
}

.icon{
  width: 23px;
}

.main{
  padding-top: 2rem;
  margin-bottom: 4rem;
}

h2{
  margin-top: 1rem;
  color: #015581;
  font-size: 19px;
  font-weight: bold;
}

label{
  font-weight: bold;
  color: #5A5A5A;
  font-size: 12px;
}

a{
  text-decoration: none;
  color: #5A5A5A;
  font-weight: bold;
  cursor: pointer;
}

.check{
  font-size: 16px;
  font-weight: bold;
  color: #5A5A5A;
  margin-left: .5rem;
}
