<ion-content>
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand"routerLink="/contas-receber"><img class="icon" src="../../../assets/icon/setaesquerda.png" alt=""></a>
        <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
        <div class=""></div>
      </div>
  </nav>
    <div class="container main">
      <h2>Liquidar Conta</h2>
      <form action="" class="mt-4">
        <app-select label="Nome da receita" type="select"></app-select>

        <app-inputs label="cliente" type="text"></app-inputs>

        <app-inputs label="data liquidação" type="text"></app-inputs>

        <app-select label="conta Bancária" type="text"></app-select>

        <app-select label="forma de pagamento" type="text"></app-select>

        <app-inputs label="valor pago" type="text"></app-inputs>

        <app-inputs label="juros" type="text"></app-inputs>

        <app-inputs  label="desconto/taxa" type="text"></app-inputs>

        <app-inputs  label="acréscimo" type="text"></app-inputs>

        <app-inputs label="observações" type="textArea"></app-inputs>

        <div class="campo-checkbox d-flex align-items-center mt-4 mb-4" >
          <app-checkbox type="checkbox" label="Baixar conta"></app-checkbox>
        </div>
      </form>
        <app-butons color="blue" label="Salvar"></app-butons>
        <app-butons color="gray" label="Cancelar"></app-butons>
    </div>
  </div>
</ion-content>
