<ion-content>
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand"routerLink="/contas-receber"><img class="icon" src="../../../assets/icon/setaesquerda.png" alt=""></a>
        <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
        <div class=""></div>
      </div>
  </nav>
    <div class="container main">
      <h2>Liquidar Conta</h2>
      <form action="" class="mt-4" [formGroup]="form">
        <app-select [form]="form" control="descricao" label="Nome da receita" type="select"></app-select>

        <app-input [form]="form" control="cliente" label="cliente" type="text"></app-input>

        <app-input label="data liquidação" type="date"></app-input>

        <app-select [form]="form" control="conta_bancaria" label="conta Bancária" type="text"></app-select>

        <app-select [form]="form" control="forma_pagamento" label="forma de pagamento" type="text"></app-select>

        <app-input label="valor pago" type="text"></app-input>

        <app-input label="juros" type="text"></app-input>

        <app-input  label="desconto/taxa" type="text"></app-input>

        <app-input  label="acréscimo" type="text"></app-input>

        <app-input label="observações" type="textArea"></app-input>

        <div class="campo-checkbox d-flex align-items-center mt-4 mb-4" >
          <app-checkbox type="checkbox" label="Baixar conta"></app-checkbox>
        </div>
      </form>
        <app-button color="blue" label="Salvar"></app-button>
        <app-button color="gray" label="Cancelar"></app-button>
    </div>
  </div>
</ion-content>
