<ion-content>
    <div class="container">
      <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/dashboard"><img class="icon" src="../../../assets/icon/setaesquerda.png" alt=""></a>
          <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
          <button>
            <img src="../../../assets/icon/menu-aberto.png" class="icon-menu" alt="">
          </button>
        </div>
      </nav>
        <div class="container main">
            <div class="selecao">
              <form action="">
                <fieldset>
                  <legend>Imprimir recibo</legend>
                  <app-inputs label="data" type="text"></app-inputs>
                  <app-inputs label="valor" type="text"></app-inputs>
                  <app-inputs label="correspondente a" type="textArea"></app-inputs>
                </fieldset>
              </form>
            </div>
            <div class="botoes mt-4">
              <app-butons color="blue" label="Imprimir"></app-butons>
              <app-butons color="gray" label="Cancelar"></app-butons>
            </div>
          </div>
      </div>
</ion-content>

