.aberto{
    background-color: #b4b4b4;
    border-radius: 100%;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.pago{
    background-color:#56b910;
    border-radius: 100%;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

.atraso{
    background-color: #f5db00;
    border-radius: 100%;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}