<ion-content>
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard"><img class="icon" src="../../../assets/icon/setaesquerda.png"
            alt=""></a>
        <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
      </div>
    </nav>

    <div class="container main" *ngIf="!filtro">
      <h2>Clientes e fornecedores</h2>

      <div class="campo-pesquisa">
        <app-inputs type="search" label="Pesquisar"></app-inputs>
        <button class="icone-lupa"><img class="icone" src="../../../assets/icon/lupa.png" alt="lupa"></button>
        <button class="icone-filtro" (click)="filtro = !filtro"><img class="icone"
            src="../../../assets/icon/filtro.png" alt=""></button>
      </div>

      <app-butons class="bt" color="blue" label="Adicionar cliente/fornecedor" (click)="add()"></app-butons>

      <app-tables></app-tables>

      <div class="paginacao  mt-1">
        <nav aria-label="Navegação de página">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1"><img class="icon" src="../../../assets/icon/setaesquerda.png"
                  alt=""></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#"><img class="icon direita" src="../../../assets/icon/setaesquerda.png"
                  alt=""></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="container filtro" *ngIf="filtro">
      <app-filtro-cliente filtrado="search($event)"></app-filtro-cliente>
    </div>
    <!-- <div class="container filtro" *ngIf="formulario">
      <app-filtro-cliente filtrado="search($event)"></app-filtro-cliente>
    </div> -->
  </div>
</ion-content>
