*{
  font-family: "Montserrat";
  text-transform: uppercase;
}

.container{
  background: #fff;
  height: 100vh auto;
  min-height: 100vh;
}

.icon-menu{
  width: 30px;
}

button{
  background: transparent;
}

.icon{
  width: 23px;
}

.main{
  padding-top: 1rem;
}

h2{
  margin-top: 7px;
  color: #015581;
  font-size: 19px;
  font-weight: bold;
}

.icone-tabela{
  width: 24px;
}

.icone-lupa,.icone-filtro{
  margin-left: .3rem;
  background: transparent;
  position: relative;
  bottom: 3rem;
  left: 14rem;
}
