<ion-content>
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard"><img class="icon" src="../../../assets/icon/setaesquerda.png"
            alt=""></a>
        <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
        <button>
          <img src="../../../assets/icon/menu-aberto.png" class="icon-menu" alt="">
        </button>
      </div>
    </nav>
    <div class="container main" *ngIf="!filtro">
      <h2>Clientes e fornecedores</h2>
        <div class="mb-3">
          <app-inputs type="search" label="Pesquisar"></app-inputs>
          <!-- <button icon="icone-lupa"></button>
          <button icon="icone-filtro" (click)="filtro = !filtro" alt=""></button> -->
        </div>
        <app-butons class="bt" color="blue" label="Adicionar cliente/fornecedor" (click)="add()"></app-butons>
      <div class="tabela-clientes">
        <app-tables tabela="tabelaCliente"></app-tables>
      <div class="mt-5">
        <app-pagination></app-pagination>
      </div>
      </div>
    </div>
    <div class="container filtro" *ngIf="filtro">
      <app-filtro-cliente filtrado="search($event)"></app-filtro-cliente>
    </div>
  </div>
</ion-content>
