*{
  font-family: "Montserrat";
  text-transform: uppercase;
}

.container{
  background: #fff;
  height: 100vh auto;
  min-height: 100vh;
}

.icon{
  width: 23px;
}

.main{
  padding-top: 2rem;
  height: 100vh;
}

h2{
  margin-top: 1rem;
  color: #015581;
  font-size: 19px;
  font-weight: bold;
}

.icone{
  width: 24px;
  margin: 5px;
}
.icone-tabela{
  width: 24px;
}

.direita{
  transform: rotate(180deg);
}

.icone-lupa,.icone-filtro{
  margin-left: .3rem;
  background: transparent;
  position: relative;
}
