*{
  font-family: "Montserrat";
  color: #FFFFFF;
}

header{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
}

.container{
  background-color: #186E9D;
  height: 80%;
  padding: 0 2rem;
}

.alianca{
  image-rendering: -webkit-optimize-contrast;
  object-fit:contain;
  width: 276px;
  height: 76px;
}

h1{
  font-size: 23px;
}

.check{
  display: flex;
  align-items: center;
}

label{
  font-size: 16px;
  margin-left: 3px;
}

.icone{
  width: 23px;
  display: inline;
  position: relative;
  top: 2.5rem;
  left: 1rem;
}

.recuperar-senha{
  margin-top: 3.5rem;
}
