<ion-content>
  <div class="container">
    <div class="main">
        <form action="">
            <div class="logo">
                <img class="alianca" src="../../../assets/icon/logo.png" alt="">
            </div>
            <div class="form-login">
                <label class="name" for="login">Login</label><br>
                <app-input></app-input><br>
                <input type="password"  placeholder="Senha">
            </div>
            <div class="recuperar">
                <input class="check" type="checkbox">
                <label for="">Lembrar usuário</label>
            </div>
            <div class="button-entrar">
                <button class="btn" ><a href="index.page2.html">ENTRAR</a></button>
            </div>
            <div class="recuperar-senha">
                <span class="name-recuperar">Esqueceu a senha?</span>
            <button class="btn-senha">RECUPERAR SENHA</button>
            </div>
        </form>
    </div>
 </div>

</ion-content>
