<ion-content>
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/planosfunerarios"><img class="icon" src="../../../assets/icon/setaesquerda.png" alt=""></a>
        <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
        <div class=""></div>
      </div>
  </nav>
    <div class="container main">
        <h2 class="mb-4">Dados do plano</h2>
      <form action="">
        <fieldset>
          <app-inputs type="text" label="cliente"></app-inputs>

          <app-inputs type="text" label="vendedor 1"></app-inputs>

          <app-inputs type="text" label="vendedor 2"></app-inputs>

          <app-inputs type="text" label="número do plano"></app-inputs>

        </fieldset>
        <fieldset>
          <legend>serviços</legend>

          <div class="row">
            <div class="col-3">
              <app-inputs label="serviço" type="text"></app-inputs>
            </div>
            <div class="col-9">
              <app-select></app-select>
            </div>
          </div>

        <app-inputs  type="text" label="quantidade"></app-inputs>

        <app-inputs  type="text" label="valor unitário"></app-inputs>

        <app-inputs  type="text" label="valor total"></app-inputs>

      </fieldset>
      <fieldset>
        <legend>totais</legend>

        <app-inputs  type="text" label="taxa de adesão"></app-inputs>

        <app-inputs  type="text" label="valor total"  icon="lupa.png" iconPosition="right"></app-inputs>

        <fieldset>
          <legend>Pagamento</legend>

          <app-inputs  type="date" label="data inicial"></app-inputs>

          <app-select type="text" label="forma de pagamento"></app-select>

          <app-inputs  type="text" label="carencia (dias)"></app-inputs>

          <app-inputs  type="text" label="quantida de parcelas"></app-inputs>

          <app-select type="text" label="forma de gerar"></app-select>

          <app-inputs  type="text" label="taxa de adesão"></app-inputs>

          <div class="row">
            <div class="col-3">
              <app-inputs  type="text" label="parcela"></app-inputs>
            </div>
            <div class="col-9">
              <app-inputs  type="date" label="data"></app-inputs>
            </div>
          </div>
          <app-inputs  type="text" label="valor"></app-inputs>

          <app-select type="text" label="forma de pagamento"></app-select>

          <app-inputs  type="textArea" label="observações"></app-inputs>
        </fieldset>
      </fieldset>
      <div class="maisparcelas d-flex justify-content-center">
        <a href="">ver mais parcelas</a><img class="icon" src="../../../assets/icon/seta-para-baixo.png" alt="">
      </div>
      <fieldset  class="checkbox">
        <legend>documentos pendentes</legend>
         <label class="mt-3 mb-3">Documento do responsável</label>

         <app-checkbox type="checkbox" label="rg"></app-checkbox>

         <app-checkbox type="checkbox" label="cpf"></app-checkbox>

         <app-checkbox type="checkbox" label="comprovante residência"></app-checkbox>

         <app-checkbox type="checkbox" label="certidão casamento"></app-checkbox>
      </fieldset>
      <fieldset>
        <legend class="mt-4">Dependentes</legend>
        <app-inputs  type="text" label="nome do dependente"></app-inputs>

        <app-select type="text" label="grau de parentesco"></app-select>

        <app-inputs  type="text" label="telefone principal"></app-inputs>

        <app-inputs  type="text" label="cpf"></app-inputs>

        <app-inputs  type="text" label="data de nascimento"></app-inputs>
      </fieldset>
      <div class="adicionar d-flex justify-content-center">
        <a href="#"><img class="icon" src="../../../assets/icon/simbolo-de-adicao-de-espessura.png" alt="adicionar">Adicionar outro dependente</a>
      </div>
      <fieldset>
        <legend>detalhes</legend>

         <app-inputs type="date" label="data"></app-inputs>

         <app-inputs type="date" label="data de entrega"></app-inputs>

         <app-inputs type="text" label="hora da realização"></app-inputs>

         <app-inputs type="textArea" label="observações"></app-inputs>

         <app-inputs  type="textArea" label="observações internas"></app-inputs>
      </fieldset>
      </form>
      <h6 class="mt-4">CONTRATO/ANEXOS</h6>
      <app-butons color="white" label="selecionar arquivo"></app-butons>
      <p>MÁXIMO 2MB, JPG, JPEG, GIF, PNG, PDF,DOC, XLS, CSV, ZIP.</p>

        <app-butons color="blue" label="Salvar"></app-butons>
        <app-butons color="gray" label="Cancelar"></app-butons>

    </div>
    <div class="line"></div>
  </div>
</ion-content>

