<ion-content>
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/clientes"><img class="icon" src="../../../assets/icon/setaesquerda.png" alt=""></a>
        <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
       <div class=""></div>
      </div>
    </nav>
    <div class="container main">
      <h2>Novo cliente/fornecedor</h2>

      <form action="" class="mt-4">

        <app-select label="tipo de pessoa"></app-select>

        <app-inputs label="Cpf" type="text"></app-inputs>

        <div class="row">
          <div class="col-8">
            <app-inputs label="Rg" type="text"></app-inputs>
          </div>
          <div class="col-4">
            <app-inputs label="Emissor" type="text"></app-inputs>
          </div>
        </div>
        <app-inputs label="Nome" type="text"></app-inputs>

        <app-inputs label="Data de Nascimento" type="date"></app-inputs>

        <app-inputs label="Naturalidade" type="text"></app-inputs>

        <app-inputs label="cep" type="text" icon="lupa.png" iconPosition="right"></app-inputs>

        <app-inputs label="endereço" type="text"></app-inputs>

        <app-inputs label="número" type="text"></app-inputs>

        <app-inputs label="complemento" type="text"></app-inputs>

        <app-inputs label="bairro" type="text"></app-inputs>

        <app-inputs label="cidade" type="text"></app-inputs>

        <app-select label="estado" type="text"></app-select>

        <app-inputs label="celular" type="text" icon="whatsapp.png" iconPosition="right"></app-inputs>

        <app-inputs label="telefone" type="text"></app-inputs>

        <app-select label="tipo De Cadastro" type="select"></app-select>

        <app-select label="sexo" type="select"></app-select>

        <app-select label="estado Civil" type="select"></app-select>

        <app-inputs label="profissão" type="text"></app-inputs>

        <app-inputs label="E-mail" type="text"></app-inputs>

        <app-select label="receber Sms" type="select"></app-select>

        <app-select label="receber Torpedo De Voz" type="select"></app-select>

        <app-inputs label="Nome Da Mae" type="text"></app-inputs>

        <app-inputs label="Nome Do Pai" type="text"></app-inputs>

        <h2>Endereços</h2>

        <app-select label="Tipo De Endereço" type="select"></app-select>

        <app-select label="tipo de pessoa" type="select"></app-select>

        <app-inputs label="cpf"  type="text"></app-inputs>

        <app-inputs label="cep" type="text" icon="lupa.png" iconPosition="right"></app-inputs>

        <app-inputs label="endereço" type="text"></app-inputs>

        <app-inputs label="número" type="text"></app-inputs>

        <app-inputs label="complemento" type="text"></app-inputs>

        <app-inputs label="bairro" type="text"></app-inputs>

        <app-inputs label="cidade" type="text"></app-inputs>

        <app-select label="estado" type="select"></app-select>

        <app-select label="religião" type="select"></app-select>

        <h2>Dados adicionais</h2>

        <app-select label="categoria/classificação" type="select"></app-select>

        <app-select label="situação" type="select"></app-select>

        <h2>Dependentes (opcional)</h2>

        <app-inputs label="nome Do Dependente" type="text"></app-inputs>

        <app-select label="grau Do Parentesco" type="select"></app-select>

        <app-inputs label="telefone Principal" type="text"></app-inputs>

        <app-inputs label="cpf" type="text"></app-inputs>

        <app-inputs label="data De Nascimento" type="text"></app-inputs>
        <div class="adicionar d-flex justify-content-center">
          <a href="#">
            <img class="icon" src="../../../assets/icon/simbolo-de-adicao-de-espessura.png" alt="adicionar">
            Adicionar dependente
          </a>
        </div>
        <app-butons color="blue" label="Salvar"></app-butons>
        <app-butons color="gray" label="Cancelar"></app-butons>
      </form>
      <div class="line w-100 mt-5"></div>
    </div>
  </div>
</ion-content>
