<ion-content>
  <div class="container">
    <app-navbar rota="clientes"></app-navbar>
    <div class="container main">
      <span *ngIf="form.value.responsavel">
        <h2>Reponsável</h2>
        {{ form.value.responsavel }}
      </span>

      <h2>Novo cliente/fornecedor</h2>

      <form [formGroup]="form" class="mt-4">
        <app-select
          [form]="form"
          control="pessoa"
          [options]="pessoas"
          label="tipo de pessoa"
        ></app-select>

        <app-input
          (change)="pesquisaCPF()"
          *ngIf="form.value.pessoa != 'PJ'"
          [form]="form"
          control="cnpjcpf"
          mask="CPF"
          label="Cpf"
          type="text"
          length="14"
          NumberInput
        ></app-input>
        <app-input
          *ngIf="form.value.pessoa == 'PJ'"
          [form]="form"
          control="cnpjcpf"
          mask="CNPJ"
          label="Cnpj"
          type="text"
          length="18"
          NumberInput
        ></app-input>

        <div class="row">
          <div class="col-8">
            <app-input
              [form]="form"
              control="rg"
              label="Rg"
              type="number"
              length="30"
              number="true"
            ></app-input>
          </div>
          <div class="col-4">
            <app-input
              [form]="form"
              control="emissor"
              label="Emissor"
              type="text"
              length="6"
            ></app-input>
          </div>
        </div>

        <app-input
          [form]="form"
          control="nome_fantasia"
          label="Nome"
          type="text"
          length="100"
        ></app-input>

        <app-input
          [form]="form"
          control="data_nascimento"
          label="Data de Nascimento"
          type="text"
          length="10"
          mask="DATA"
        ></app-input>

        <app-input
          [form]="form"
          control="naturalidade"
          label="Naturalidade"
          type="text"
        ></app-input>

        <app-input
          [form]="form"
          control="cep"
          label="cep"
          type="text"
          icon="lupa.png"
          iconPosition="right"
          length="9"
          mask="CEP"
          (change)="getCep('primario')"
        ></app-input>

        <app-input
          [form]="form"
          control="endereco"
          label="endereço"
          type="text"
        ></app-input>

        <app-input
          [form]="form"
          control="numero"
          label="número"
          type="text"
        ></app-input>

        <app-input
          [form]="form"
          control="complemento"
          label="complemento"
          type="text"
        ></app-input>

        <app-input
          [form]="form"
          control="bairro"
          label="bairro"
          type="text"
        ></app-input>

        <app-input
          [form]="form"
          control="cidade"
          label="cidade"
          type="text"
        ></app-input>

        <app-select
          [form]="form"
          control="estado"
          [options]="estados"
          label="estado"
          type="text"
        ></app-select>

        <app-input
          [form]="form"
          control="celular"
          label="celular"
          length="15"
          type="text"
          onchange=""
          icon="whatsapp.png"
          iconPosition="right"
          mask="TEL"
          (selectIcon)="sendWhatsapp()"
        ></app-input>

        <app-input
          [form]="form"
          control="telefone"
          label="telefone"
          length="15"
          type="text"
          mask="TEL"
        ></app-input>

        <app-select
          [form]="form"
          control="tipo_cadastro"
          [options]="cadastros"
          label="tipo De Cadastro"
          type="select"
        ></app-select>

        <app-select
          [form]="form"
          control="sexo"
          [options]="generos"
          label="sexo"
          type="select"
        ></app-select>

        <app-select
          [form]="form"
          control="estado_civil"
          [options]="estadocivil"
          label="estado Civil"
          type="select"
        ></app-select>

        <app-input
          [form]="form"
          control="profissao"
          label="profissão"
          type="text"
          search="true"
          [data]="profissoes"
          (searchEmitter)="pesquisaProfissao($event)"
          (selectEmitter)="selecionaProfissao($event)"
        ></app-input>

        <app-input
          [form]="form"
          control="email"
          label="E-mail"
          type="text"
        ></app-input>

        <app-select
          [form]="form"
          control="deve_receber_sms"
          [options]="basicas"
          label="receber Sms"
          type="select"
        ></app-select>

        <app-select
          [form]="form"
          control="deve_receber_torpedo_voz"
          [options]="basicas"
          label="receber Torpedo De Voz"
          type="select"
        ></app-select>

        <app-input
          [form]="form"
          control="nome_mae"
          label="Nome Da Mae"
          type="text"
        ></app-input>

        <app-input
          [form]="form"
          control="nome_pai"
          label="Nome Do Pai"
          type="text"
        ></app-input>

        <div class="d-flex flex-row align-items-center justify-content-between">
          <h2>Endereços</h2>
          <ion-icon
            name="play"
            class="deg90"
            *ngIf="!enderecos"
            (click)="enderecos = !enderecos"
          ></ion-icon>
          <ion-icon
            name="play"
            class="deg151"
            *ngIf="enderecos"
            (click)="enderecos = !enderecos"
          ></ion-icon>
        </div>

        <div *ngIf="enderecos">
          <app-select
            [form]="form"
            control="eTipo_endereco"
            [options]="tipoendereco"
            label="Tipo De Endereço"
            type="select"
          ></app-select>

          <app-select
            [form]="form"
            control="eTipo_pessoa"
            [options]="pessoas"
            label="tipo de pessoa"
            type="select"
          ></app-select>

          <app-input
            [form]="form"
            control="eCep"
            label="cep"
            type="text"
            icon="lupa.png"
            iconPosition="right"
            length="9"
            (change)="getCep('secundario')"
            mask="CEP"
          ></app-input>

          <app-input
            [form]="form"
            control="eEndereco"
            label="endereço"
            type="text"
          ></app-input>

          <app-input
            [form]="form"
            control="eNumero"
            label="número"
            type="text"
          ></app-input>

          <app-input
            [form]="form"
            control="eComplemento"
            label="complemento"
            type="text"
          ></app-input>

          <app-input
            [form]="form"
            control="eBairro"
            label="bairro"
            type="text"
          ></app-input>

          <app-input
            [form]="form"
            control="eCidade"
            label="cidade"
            type="text"
          ></app-input>

          <app-select
            [form]="form"
            control="eEstado"
            [options]="estados"
            label="estado"
            type="select"
          ></app-select>
        </div>

        <app-input
          [form]="form"
          control="religiao"
          label="religião"
          type="text"
        ></app-input>

        <h2>Dados adicionais</h2>

        <app-select
          [form]="form"
          control="categoria"
          [options]="categorias"
          label="categoria/classificação"
          type="select"
        ></app-select>

        <app-select
          [form]="form"
          control="situacao"
          [options]="situacao"
          label="situação"
          type="select"
        ></app-select>

        <h2>
          Dependentes (opcional)
          <button
            type="button"
            [ngxClipboard]="content"
            style="background-color: transparent; color: #015581"
          >
            <ion-icon name="copy-outline"></ion-icon>
          </button>
        </h2>

        <app-dependentes
          [data]="cliente.dependentes"
          (dependentesSelecionados)="setDependentes($event)"
        ></app-dependentes>

        <app-button
          (click)="create()"
          [disabled]="form.invalid"
          type="normal"
          color="blue"
          label="Salvar"
        ></app-button>
        <app-button color="gray" label="Cancelar"></app-button>
      </form>
      <div class="line w-100 mt-5"></div>
      <div class="lista-dependentes">
        <input
          #content
          [(ngModel)]="dependentesCopiados"
          name="list-dependentes"
          id="lista-dependentes"
        />
      </div>
    </div>
  </div>
</ion-content>
