*{
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #015581;
}

h2{
  margin-top: 7px;
  font-size: 19px;
  font-weight: bold;
}

.tabela{
  margin-top: 1rem;
  width: 100%;
  height: auto;
}

tr{
  border-bottom: 1px solid #CCCCCC;
}

.line-bottom{
  padding-bottom: 2px;
}

td{
  height: 47px;
  text-align: left;
}
