  <ion-content>
    <table class="table table-borderless">
      <tr *ngFor="cliente of clientes">
        <td>5856</td>
        <td style="width:177px">Lourenço cunha de almeida</td>
        <td class="row">
          <button class="icone-tabela">
            <img  src="../../../assets/icon/olho.png" alt="olho">
          </button>
          <button class="icone-tabela">
            <img  src="../../../assets/icon/caixote-de-lixo.png" alt="lixeira">
          </button>
        </td>
      </tr>
    </table>
  </ion-content>
