<div class="tabela" *ngIf="tabela == 'tabelaCliente'">
  <table class="table table-borderless">
    <tr
      *ngFor="let cliente of data | paginate: { itemsPerPage: pesquisa.registros, currentPage: pagina, totalItems: total }">
      <td>{{cliente.id}}</td>
      <td class="name">{{cliente.nome_fantasia}}</td>
      <td class="d-flex">
        <button class="icone-tabela" (click)="navigate('clientes/',cliente)">
          <img src="../../../assets/icon/olho.png" alt="olho">
        </button>
        <button class="icone-tabela">
          <img src="../../../assets/icon/caixote-de-lixo.png" alt="lixeira">
        </button>
      </td>
    </tr>
  </table>
</div>


<div class="tabela" *ngIf="tabela == 'tabelaContasReceber'">
  <table class="table table-borderless">
    <tr
      *ngFor="let conta of data | paginate: { itemsPerPage: pesquisa.registros, currentPage: pagina, totalItems: total }">
      <td colspan="2">
        {{conta.id}}
      </td>
      <td class="name">
        <div class="nome">{{conta.nome_fantasia}}</div><br>
        Cobrança de<span>{{conta.valor | currency : 'BRL'}}</span><br>
        Vencimento em {{conta.vencimento | date:'shortDate'}}
      </td>
      <td colspan="2">
        <button>
          <img class="icone-tabela" src="../../../assets/icon/tres-pontos.png" alt="">
        </button>
      </td>
    </tr>
  </table>
</div>

<div class="tabela" *ngIf="tabela == 'tabelaplanosFunerarios'">
  <table class="table">
    <tbody>
      <tr *ngFor="let plano of data | paginate: { itemsPerPage: pesquisa.registros, currentPage: pagina, totalItems: total }">
        <td>{{plano.id}}</td>
        <td>{{plano.data_os}}</td>
        <td>{{plano.nome_fantasia}}</td>
        <td class="d-flex">
          <button>
            <img class="icone" src="../../../assets/icon/circulo.png" alt="">
          </button>
          <button>
            <img class="icone" src="../../../assets/icon/tres-pontos.png" alt="">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<pagination-controls (pageChange)="pagina = $event; emit()"
  directionLinks="false" autoHide="false" previousLabel="" nextLabel="">
</pagination-controls>
