
.tabela{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

td{
  height: 68px;
}

table{
  width: 400px;
  height: 300px;
}
button{
  background: transparent;
}

.icone-tabela{
  width: 34px;
}
