    <div class="tabela" *ngIf="tabela == 'tabelaCliente'">
      <table class="table table-borderless" >
        <tr *ngFor="cliente of clientes">
          <td>5856</td>
          <td class="name">Lourenço cunha de almeida</td>
          <td class="d-flex">
            <button class="icone-tabela">
              <img  src="../../../assets/icon/olho.png" alt="olho">
            </button>
            <button class="icone-tabela">
              <img  src="../../../assets/icon/caixote-de-lixo.png" alt="lixeira">
            </button>
          </td>
        </tr>
      </table>
    </div>

  <div class="tabela" *ngIf="tabela == 'tabelaContasReceber'">
     <table>
         <tr>
           <td colspan="2">
              <button>
                <img class="icone-tabela" src="../../../assets/icon/relogio.png" alt="">
                </button>
            </td>
            <td class="name-table-contas">
                Maycon Ferreira santos
                cobrança de R$35,00
                Vencimento dia 10/03/2020
            </td>
            <td colspan="2">
               <button>
                 <img class="icone-tabela" src="../../../assets/icon/tres-pontos.png" alt="">
                </button>
            </td>
         </tr>
     </table>
  </div>

  <div class="tabela-planos-funerarios" *ngIf="tabela == 'tabelaplanosFunerarios'">
    <table class="table">
      <tbody>
        <tr>
          <td>1449</td>
          <td>10/03/2020</td>
          <td>Mauro Henrique de araujo</td>
          <td class="d-flex">
            <button>
              <img class="icone" src="../../../assets/icon/circulo.png" alt="">
            </button>
            <button>
            <img class="icone" src="../../../assets/icon/tres-pontos.png" alt="">
          </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <table class="table-2">
        <tr>
            <td colspan="2" class="p-1">1429</td>
            <td colspan="2">10/03/2020</td>
            <td colspan="2" class="p-2 name-table-3">Mauro Henrique de araujo </td>
            <td colspan="2" class="d-flex">
              <button>
                <img class="icone-tabela" src="../../../assets/icon/circulo.png" alt="">
              </button>
              <button>
              <img class="icone-tabela" src="../../../assets/icon/tres-pontos.png" alt="">
            </button>
            </td>
        </tr>
    </table> -->
  </div>
