<div class="modal">
  <div class="print" *ngIf="viewRecibo">
    <app-icon name="print-outline" ionic="true" (selectIcon)="print()"></app-icon>
  </div>
  <div class="close">
    <app-icon name="close-outline" ionic="true" (selectIcon)="closeView()"></app-icon>
  </div>
  <div class="modal-title" *ngIf="!viewRecibo">
    <span>Imprimir Recibo</span>
  </div>

  <div class="modal-content-sf" *ngIf="!viewRecibo">
    <app-input
      [form]="form"
      control="data"
      type="text"
      mask="DATA"
      label="Data"
    ></app-input>
    <app-input
      [form]="form"
      control="valor"
      type="text"
      mask="MONEY"
      label="Valor"
      disabled="true"
    ></app-input>

    <!-- <app-input
      [form]="form"
      control="mensagem"
      type="textarea"
      rows="2"
      label="Correspondente a"
    ></app-input> -->

    <app-button
      class="bt"
      color="blue"
      label="Imprimir"
      type="normal"
      (click)="imprimir()"
    ></app-button>
  </div>

  <div class="recibo" *ngIf="viewRecibo" #recibo>
    <img src="http://www.funerariaalianca.com.br/assets/img/logo_recibo.png" alt="">

    <h1 class="mt-4">Funerária Aliança</h1>
    <p>CNPJ: 02.317.053/0001-66</p>
    <p>ENDEREÇO: AVENIDA CASTELO BRANCO, 06, VILA VITÓRIA, IMPERATRIZ-MA</p>

    <div class="separator"></div>

    <h2>COMPROVANTE DE PAGAMENTO</h2>
    <h2>{{ dataHoje }}</h2>

    <div class="separator"></div>

    <h2>{{ contaRecebida.nome_fantasia }}</h2>
    <p>{{ contaRecebida.endereco }}, {{ contaRecebida.numero }} {{ contaRecebida.complemento }}, {{ contaRecebida.bairro }} ,{{ contaRecebida.cidade }} - {{ contaRecebida.estado }} FONE: {{ contaRecebida.celular }}</p>

    <div class="separator"></div>

    <p>DATA: {{ contaRecebida.data_emissao | date:'dd/MM/YYYY' }}</p>
    <p>CONTRATO: {{ contaRecebida.n_os }}</p>
    <p>MENSALIDADE: {{ contaRecebida.valor | currency: "BRL" }}</p>
    <p>VENCIMENTO: {{ contaRecebida.n_parcela }}</p>
    <p>{{ contaRecebida.produto }}</p>

    <div class="separator"></div>

    <table>
      <tr *ngFor="let conta of contasRecebidas">
        <td>{{ conta.forma_descricao }}</td>
        <td>{{ conta.data_liquidacao | date:'dd/MM/YYYY' }}</td>
        <td>{{ conta.valor | currency:'BRL' }}</td>
      </tr>
    </table>

    <h2 class="mt-4">PAGOU {{ form.value.valor | currency:'BRL' }}</h2>

    <div class="separator"></div>

    <p>VENDEDOR: {{ contaRecebida.v_nome_fantasia }}</p>
  </div>
</div>
