<div class="container main">
    <div class="campo-pesquisa mt-5">
      <app-input type="search" label="pesquisar"></app-input>
    </div>
    <div class="selecao mt-4 mb-4">
      <form [formGroup]="form" action="">
        <div class="row">
          <h2>Data de vencimento</h2>
          <div class="col-4">
            <app-input [form]="form" control="data_vencimento" label="De" type="text" mask="data" number="true"></app-input>
          </div>
          <div class="col-4">
            <app-input [form]="form" control="data_final" label="Até" type="text" mask="data"></app-input>
          </div>
        </div>
        <app-input [form]="form" control="cidade" label="Cidade" type="text"></app-input>
  
        <app-input [form]="form" control="bairro" label="Bairro" type="text"></app-input>

        <app-input [form]="form" control="rua" label="Rua" type="text"></app-input>
  
        <app-select [form]="form" control="situacao" type="select" label="Situação"></app-select>
  
        <div class="row d-flex justify-content-center">
          <div class="col-6">
            <app-button color="gray" label="Limpar"></app-button>
          </div>
          <div class="col-6">
            <app-button color="blue" label="Concluir" (click)="search()"></app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
  