* {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.container, ion-content {
  background: #fff;
  height: auto;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
}

.icon {
  width: 23px;
}

h2 {
  margin-top: 7px;
  color: #015581;
  font-size: 19px;
  font-weight: bold;
}
