<div class="container main">
    <div class="close">
      <app-icon name="close-outline" ionic="true" (selectIcon)="closeView()"></app-icon>
    </div>
    <div class="selecao mt-4 mb-4">
      <form [formGroup]="form" action="">

        <h2>Filtrar por</h2>

        <app-input [form]="form" control="vencimento_inicio" label="Data de vencimento de" type="text" mask="DATA"></app-input>

        <app-input [form]="form" control="vencimento_final" label="Até" type="text" mask="DATA"></app-input>

        <app-select [form]="form" control="estado" [options]="estados" label="estado" type="text"></app-select>

        <app-portlet-cidade [form]="form" control="cidade" label="Cidade" type="text"></app-portlet-cidade>

        <app-portlet-bairro [form]="form" control="bairro" label="Bairro" type="text"></app-portlet-bairro>

        <app-portlet-endereco [form]="form" control="endereco" label="Endereço" type="text"></app-portlet-endereco>

        <app-situacao [form]="form" control="situacao" [tipo]="planoFunerarioSituacao"></app-situacao>

        <div class="row d-flex justify-content-center">
          <div class="col-6">
            <app-button color="gray" type="normal" label="Limpar" (click)="clear()"></app-button>
          </div>
          <div class="col-6">
            <app-button color="blue" type="normal" label="Concluir" (click)="search()"></app-button>
          </div>
        </div>
      </form>
    </div>
  </div>
