<ion-content>
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="icon" src="../../../assets/icon/setaesquerda.png" alt=""></a>
        <img class="icon-logo" src="../../../assets/icon/logo.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
      </div>
  </nav>
    <div class="container main">
      <h2>Liquidar Conta</h2>
      <form action="" class="mt-4">
          <label for="receita">Nome da receita</label>
          <!-- <app-select type="select"></app-select> -->
        <app-inputs name="receita"></app-inputs>

        <label for="cliente">cliente</label>
        <app-inputs name="cliente"></app-inputs>

        <label for="data">data liquidação</label>
        <app-inputs name="data"></app-inputs>

        <label for="contaBancaria">conta Bancaria</label>
        <app-select name="contaBancaria"></app-select>

        <label for="formadepagamento">forma de pagamento</label>
        <app-select name="formadepagamento"></app-select>

        <label for="valor">valor pago</label>
        <app-inputs name="valor"></app-inputs>

        <label for="juros">juros</label>
        <app-inputs name="juros"></app-inputs>

        <label for="desconto">desconto/taxa</label>
        <app-inputs  name="desconto"></app-inputs>

        <label for="acrescimo">acréscimo</label>
        <app-inputs  name="acrescimo"></app-inputs>

        <label for="observacoes">observações</label>
        <app-inputs name="observacoes"></app-inputs>

        <div class="campo-checkbox d-flex align-items-center">
          <app-checkbox name="check"></app-checkbox><label for="check" class="check">Baixar conta</label>
        </div>
      </form>
        <app-butons color="blue" label="Salvar"></app-butons>
        <app-butons color="gray" label="Cancelar"></app-butons>
    </div>
  </div>
</ion-content>
