<ion-content>
  <div class="container">
    <div class="menu">
        <div class="seta">
          <button class="button-seta">
            <img class="seta-esquerda" src="../../../assets/icon/setaesquerda.png" alt="seta-voltar">
          </button>
        </div>
        <div class="logo">
          <img src="../../../assets/icon/logo.png" alt="Logo">
        </div>
        <div class="menu-hamburguer"></div>
    </div>
    <div class="main">
      <div class="container-pesquisa">
        <div class="campo-pesquisa">
          <p>PESQUISAR</p>
          <div class="pesquisar">
            <div class="input-icon">
              <input class="input-pesquisar" type="text">
            </div>
          </div>
        </div>
        <div class="selects">
          <label for="filtrar-por">Filtrar por</label>
          <div class="selecoes">
            <select class="selecao">
                <option value=""></option>
            </select>
            <span class="seta-icon"><img class="seta-baixo" src="../../../assets/icon/seta-para-baixo.png" alt="seta"></span>
          </div>
          <label for="filtrar-por">situação</label>
          <div class="selecoes">
            <select class="selecao">
                <option value=""></option>
            </select>
            <span class="seta-icon"><img class="seta-baixo" src="../../../assets/icon/seta-para-baixo.png" alt="seta"></span>
          </div>
          <label for="filtrar-por">forma de pagamento</label>
          <div class="selecoes">
            <select class="selecao">
                <option value=""></option>
            </select>
            <span class="seta-icon"><img class="seta-baixo" src="../../../assets/icon/seta-para-baixo.png" alt="seta"></span>
          </div>
        </div>
        <div class="botoes">
          <button class="limpar">Limpar</button>
          <button class="concluir">concluir</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
