*{
  font-family: "Montserrat";
  text-transform: uppercase;
}
.icon{
  width: 23px;
}

h2{
  margin-top: 1rem;
  color: #015581;
  font-size: 19px;
  font-weight: bold;
}

label{
  font-weight: bold;
  color: #5A5A5A;
  font-size: 12px;
}
