<div class="container main">
  <div class="campo-pesquisa mt-5">
    <app-input type="search"></app-input>
  </div>
  <div class="selecao mt-4 mb-4">
    <form action="">
      <div class="row">
        <h2>Data de vencimento</h2>
        <div class="col-4">
          <app-input  label="De" type="text" mask="data" number="true"></app-input>
        </div>
        <div class="col-4">
          <app-input  label="Até" type="text" mask="data"></app-input>
        </div>
      </div>
      <app-select type="select" label="filtrar por"></app-select>

      <app-select type="select" label="situação"></app-select>

      <app-select type="select" label="forma de pagamento"></app-select>

      <div class="row d-flex justify-content-center">
        <div class="col-6">
          <app-button color="gray" label="Limpar"></app-button>
        </div>
        <div class="col-6">
          <app-button color="blue" label="Concluir" (click)="search()"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>
