<div class="container main">
  <div class="close">
    <app-icon name="close-outline" ionic="true" (selectIcon)="closeView()"></app-icon>
  </div>
  <div class="selecao mt-4 mb-4">
    <form action="" [FormGroup]="form">
     
        <h2>Filtrar por</h2>
     
      <app-input [form]="form" control="cidade" type="text" label="Data de vencimento de" mask="DATA"></app-input>

      <app-input [form]="form" control="cidade" type="text" label="Até" mask="DATA"></app-input>
      
      <app-input [form]="form" control="cidade" type="text" label="Cidade"></app-input>

      <app-input [form]="form" control="bairro" type="text" label="Bairro"></app-input>

      <app-input [form]="form" control="rua" type="text" label="Rua"></app-input>

      <app-select  [form]="form"  control="situacao" type="select" label="Situação"></app-select>

      <div class="row d-flex justify-content-center">
        <div class="col-6">
          <app-button color="gray" type="normal" label="Limpar"></app-button>
        </div>
        <div class="col-6">
          <app-button color="blue"  type="normal"  label="Filtrar" (click)="search()"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>
