<div class="container main">
  <label>PESQUISAR</label>

  <div class="campo-pesquisa">
    <app-inputs type="input-campo"></app-inputs>
  </div>

  <div class="selecao mt-4 mb-4">
    <form action="">
      <label for="filtrar-por">Filtrar por</label>
      <app-select type="select"></app-select>

      <label for="filtrar-por">Situação</label>
      <app-select type="select"></app-select>

      <label for="filtrar-por">Forma de pagamento</label>
      <app-select type="select"></app-select>

      <div class="botoes">
        <app-butons color="gray" label="Limpar"></app-butons>
        <app-butons color="blue" label="Concluir" (click)="search()"></app-butons>
      </div>
    </form>
  </div>
</div>