<ion-content>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="logo-text">
      <app-icon name="icon-caderno"></app-icon>
      <p>Bem vindo ao sistema de controle funerário</p>
    </div>
    <div class="buttons">
      <app-button *ngFor="let mod of buttons"
        (click)="goToView(mod.view)"
        [color]="mod.color"
        [label]="mod.label"
        type="normal">
      </app-button>
    </div>

    <div class="center">
      <ion-icon name="cloud-done-outline" *ngIf="status && atualizado" (click)="sincronizar()"></ion-icon>
      <ion-icon name="cloud-offline-outline" *ngIf="!status"></ion-icon>
      <ion-icon name="cloud-upload-outline" *ngIf="status && !atualizado" (click)="sincronizar()"></ion-icon>
      <p class="status" *ngIf="status && atualizado" (click)="sincronizar()">Sincronizado</p>
      <p class="status" *ngIf="!status">Não é possível sincronizar</p>
      <p class="status" *ngIf="status && !atualizado" (click)="sincronizar()">Sincronizar</p>
    </div>
  </div>
</ion-content>
