header {
  background: #fff;
}

.container {
  background: #fff;
  height: 100vh auto;
  min-height: 100vh;
}

.logo-text{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-caderno{
  width: 62px;
}

p{
  width: 184px;
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
  color: #5A5A5A;
}


