<ion-content>
  <header class="d-flex justify-content-center">
    <img class="alianca " src="../../../assets/icon/logo.png" alt="logo">
  </header>
  <div class="container">
    <div class="logo-text">
      <img class="icon-caderno" src="../../../assets/icon/caderno-com-lista-e-lapis.png" alt="">
      <p>Bem vindo ao sistema de controle funerário</p>
    </div>
      <div class="botoes mt-5">
        <a routerLink="/clientes"><app-butons color="blue-light-lg" label="clientes e fornecedores"></app-butons></a>
        <a routerLink="/contas-receber"><app-butons color="blue-light-lg" label="contas a receber"></app-butons></a>
        <a routerLink="/planosfunerarios"><app-butons color="blue-light-lg" label="planos"></app-butons></a>
      </div>
  </div>
</ion-content>
